    <div class="container">
      <!-- Example row of columns -->
      
       <%- if current_user %>
      <div class="row">
        <% @annonces.each do |annonce| %>
        <div class="col-md-4">
          <h2><%= annonce.title %></h2>
          <%= image_tag annonce.image.url(:medium) %>
          <br><br>
          <p><%= annonce.description %></p>
          <p>Prix :<%= annonce.price %>€</p>
          <p><i>Catégorie :<%= annonce.category.name %></i></p>
          <p><i>Auteur : <%= annonce.user.fname %></i></p>
          <button type="button" class="btn btn-primary"><%= link_to 'Voir l\'annonce', annonce %></button>
        </div>
         
        <% end %>
        
        <%= will_paginate @annonces %>
     
      <% else %>
       
        Vous n'ête pas connecté, merci de vous connecté pour pouvoir accèder au contenu des produits.
          
        <% end %>
</div>
      <hr>

      <footer>
        <p>© Leboncoin Ruby Hetic 2017</p>
      </footer>
    </div> <!-- /container -->