<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <label>Prénom :</label><br>
    <%= f.text_field :fname %>
  </div>
  <div class="field">
   <label>Nom :</label><br>
    <%= f.text_field :lname %>
  </div>
  <div class="field">
    <label>Date de naissance :</label><br>
    <%= f.date_select :bdate %>
  </div>
  <div class="field">
  <label>Adresse e-mail :</label><br>
    <%= f.text_field :email %>
  </div>
  <br>
  <div class="actions">
    <%= f.submit 'Valider' , class: 'btn btn-success' %>
  </div>
<% end %>
