<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div>
                <h1 class="pull-left">Mes annonces</h1>
            </div>
            <table class="table">
              <thead class="thead-inverse">
                <tr>
                 <th>Utilisateurs</th>
                    <th>Image</th>
                    <th>Titre</th>
                    <th>Description</th>
                    <th>Prix</th>
                    <th>Categorie</th>
                    <th colspan="3"></th>
                </tr>
              </thead>
            
              <tbody>
                <% @annonces.each do |annonce| %>
                 <%- if current_user.id == annonce.user_id %>
                  <tr>
                    <td><%= annonce.user.fname %> <%= annonce.user.lname %></td>
                    <td><%= image_tag annonce.image.url(:thumb) %></td>
                    <td><%= annonce.title %></td>
                    <td><%= annonce.description %></td>
                    <td><%= annonce.price %>€</td>
                    
                    
        <td><button type="button" class="btn btn-primary"><%= link_to 'Voir l\'annonce', annonce %></button></td>
        <td><button type="button" class="btn btn-warning"><%= link_to 'Editer votre annonce', edit_annonce_path(annonce) %></button></td>
       <td><button type="button" class="btn btn-danger"><%= link_to 'Supprimer', annonce, method: :delete, data: { confirm: 'Êtes vous sur de vouloir supprimer l\'annonce ?' } %></button></td>
   </tr>
   <% end %>
<% end %>
              </tbody>
            </table>
             <%= link_to 'Nouvelle annonce', new_annonce_path, class: "pull-right btn btn-primary" %>
            <%= will_paginate @annonces %>
        </div>
    </div>
</div>